.charWrapper {
  display: grid;
  place-items: center;
  width: 400px;
  height: 400px;
  background-color: white;
  border: 16px groove lightgrey;
  border-radius: 0.5rem;
}

.char {
  font-size: 10rem;
  font-weight: bold;
}
