.charWrapper {
  display: grid;
  place-items: center;
  width: 96px;
  height: 96px;
  background-color: white;
  border: 8px groove lightgrey;
  border-radius: 0.5rem;
}

.char {
  color: #333333;
  font-size: 2rem;
  font-weight: bold;
}
